@model Model.EF.Appointment

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{

    var session = (ShopOnline.Common.UserLogin)Session[ShopOnline.Common.ConstantsCommon.USER_SESSION];

}

<!-- Messenger Plugin chat Code -->
<!--<div id="fb-root"></div>-->

<!-- Your Plugin chat code -->
<!--<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "109866601748038");
    chatbox.setAttribute("attribution", "biz_inbox");
</script>-->

<!-- Your SDK code -->
<!--<script>
    window.fbAsyncInit = function () {
        FB.init({
            xfbml: true,
            version: 'v14.0'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>-->

<!--Carousel: băng chuyền (chuyển qua lại các hình dạng slide)-->
<div class="banner">
    <img src="~/Assets/Client/images/banner13.jpg" style="width: 70%; height: 100%; ">
</div>
<!--jumpbotron-->
<div class="container-fluid">
    <div class="jumbotron">
        <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
            <p>Chăm sóc & Quan tâm sức khoẻ thú cưng</p>
        </div>
    </div>
</div>
<hr>

<!--services--->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-6">Dịch Vụ & Điều Trị</h1>
        </div>
    </div>
</div>
<div class="card-schedule">
    @foreach (var item in Model.list)
    {
        <div class="schedule-card" style="height: fit-content; border-radius: 10px;">

            <div class="container" style="width: 300px; height: 280px; display:flex; flex-direction:column; align-items:center;  padding: 30px 0px; box-sizing: border-box">
                <img class="Image_icon" src="~/Assets/Client/images/@item.Image" alt="@item.Name" style="width: 40%" />
                <h4 class="mt-2" style="font-weight:bold ; font-family: 'Dosis', sans-serif">

                    @item.Name
                </h4>
                @if (session == null)
                {
                    <a href="@Url.Action("Service_"+item.id,"Service")">
                        <p>
                            Xem thêm...
                        </p>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Service_"+item.id,"Service")">
                        <p>
                            Xem thêm...
                        </p>
                    </a>
                    <a href="@Url.Action("Index","Appointment",new {id = item.id})">
                        <p>
                            Đặt lịch ngay
                        </p>
                    </a>

                }
            </div>
        </div>
    }
</div>

<div class="clear">

</div>

<!--end services-->
<!-- .page-section -->

<div id="page-section" class="page-section">
    <div class="container">


        @if (session == null)
        {
            <hr />
            <br />
            <br />
            <div class="d-flex justify-content-center welcome">
                <h3>Bạn Có Muốn Đặt Lịch Không ?  </h3>
                <br />
                <a href="@Url.Action("Login","user")"><h2> Đăng Nhập</h2></a>
            </div>
        }
        else
        {
            <hr />
            <div class=" welcome">
                <h2>Xin chào <strong style="color:blue">@session.Name</strong></h2>

                <h3>
                    Bạn đã đăng nhập thành công, ấn vào <strong> <a href="@Url.Action("Index","Appointment")">đây</a></strong> để đặt
                    lịch khám cho thú cưng của bạn
                </h3>
                <br />

            </div>
        }

    </div>
</div> <!-- .page-section -->








<hr />
<br />
