@model IEnumerable<Model.EF.Service>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var a = "";
}

@*@helper Truncate(string source, int length)
{
    if (source.Length < length)
    {
        @source
    }
    else
    {
        @source.Substring(0, length);<label>...</label>
    }
}*@

@section Header{
    <h1>Danh sách dịch vụ</h1>
}

<div class="row">
    <div class=" col-lg-12">
        <div class="row">
            <div class="col-3">
                <p>
                    @Html.ActionLink("Create New", "Create", "Service", new { @class = "ml-2 btn btn-primary" })
                </p>
            </div>
            <div class="col-md-9 float-right">
                @using (Html.BeginForm("Index", "Service", FormMethod.Get))
                {
                    <div class="input-group">
                        <input type="search" class="form-control rounded" name="searchString" value="@ViewBag.SearchString"
                               placeholder="Tìm bởi tên dịch vụ"
                               aria-label="Search" aria-describedby="search-addon" />
                        <button type="submit" class="btn btn-outline-primary">Tìm kiếm</button>
                    </div>
                }
            </div>
        </div>
        <table class="table">
            <tr>
                <th>
                    Tên dịch vụ
                </th>
                <th>
                    Mô tả
                </th>
                <th>
                    Hình ảnh
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @if (item.Description != null)
                        {
                            if (item.Description.Length < 100)
                            {
                                a = item.Description.ToString();
                            }
                            else
                            {
                                a = item.Description.Substring(0, 100);
                            }
                            @a <label>...</label>

                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Description)
                        }
                    </td>
                    <td>
                        <img src="~/Assets/Client/images/@item.Image" alt="hinh thumnail" height="75" />
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "pl-3 pr-4 mr-1 btn btn-primary", })
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "mr-1 btn btn-success", })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-secondary", })
                    </td>
                </tr>
            }

        </table>

    </div>
</div>
